@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

// 変数の定義
$primary-color: #3498db;

// グローバルスタイル
body {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: $primary-color;
}

// ネストされたスタイル
.container {
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    font-size: 2em;
  }
}